* {
    color: #05FFFE;
    font-family: 'Itim','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
}

nav {
    background-color: #03002F;
}
.nav-link
{
    color:white !important;
}
.nav-link:hover {
    color: #05FFFE !important;
    text-decoration: none;
}
.panel {
    height: auto;
    color: #05FFFE;
    background-color: #03002F;
}

/*
            -= HOME =-
*/
#home {
    height: 100%;
    width: auto;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width:1920px) {
    #home {
        background-image: url(img/backgroundHD.jpg);
    }
}
#name {
    padding-top: 25%;
    padding-left: 5%;
    color: #05FFFE;
    font-size: 3em;
    background-color: transparent;
}

#juniorTester {
    padding-left: 10%;
    color: #05FFFE;
    font-size: 1.5em;
    background-color: transparent;
}

/*
            -= SKILLS =-
*/

#mySkills {
    padding-top: 80px;
    text-align:center;
    color: #05FFFE;
    font-size: 3em;
}

.container
{
    padding-top:6%;
}

h3
{
    padding-top:10px;
    text-align:center;
    color:white !important;
}

/*
            -= Courses =-
*/



.containerExpOther {
    padding-top: 50px;
    text-align: center;
}
.containerExpOther ul {
    padding-left: 25%;
}

.containerExpOther ul li {
    padding-top: 20px;
    list-style-type:none;
    text-align: left;
}

#courses ul {
    padding-left: 25%;
}
#courses ul li {
    list-style-image: url(img/neon.png) !important;
}
.links
{
    margin-left:15px;
    color:white;
    font-weight:bold;
}
.links:hover {
    color: #05FFFE;
    text-decoration:none;
}
.work ul {
    padding-left:10% !important;
}
.work ul li {
    list-style-image: url(img/neon.png) !important;
}
.infoAbout
{
    font-size:20px;
}
.bottomPaddingH1
{   
    padding-top:1%;
    padding-bottom:1%;
}


/*
                -=About Me=-
*/

.containerAboutMe {
    padding-top: 9%;
    text-align: center;
}

.myPhoto {
    margin-top: 10%;
    margin-bottom: 7%;
    margin-right:7%;
}
.aboutMe
{
    color:white !important;
    margin-top:10%;
    margin-bottom:10%;
    font-size:20px;
    text-align:justify;
}

.contactList {
    margin-top: 10%;
}
.contactList li
{
    color:white;
    list-style-type:none;
    margin-bottom:5%;
    font-size:20px;
    text-align:left;
}
.image
{
    margin-right:5%;
}
.contactLinks
{
    color:white;
}
.contactLinks:hover 
{
    text-decoration: none;
    color: #05FFFE
}
.aboutMeContactList
{
    color:deeppink;
}
/*
                -=Footer=-
*/

#footer {
    height: 40px !important;
    color: white;
    text-align: center;
    background-color: #03002F;
}



.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}




/*
                -=Progress Bar=-
*/
.progress {
    width: 150px;
    height: 150px !important;
    line-height: 150px;
    background-color: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 2px solid #ebebeb;
    font-size: 32px;
    line-height: 125px;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
}


    .progress.neon .progress-bar {
        border-color: #05FFFE;
    }

    .progress.neon .progress-value {
        color: white;
    }

    .progress.neon.jira .progress-left .progress-bar {
        animation: jira 1.4s linear forwards 1.8s;
    }

    .progress.neon.istqb .progress-left .progress-bar {
        animation: istqbMssqlScrum 1.4s linear forwards 1.8s;
    }

    .progress.neon.mssql .progress-left .progress-bar {
        animation: cssHtml 1.4s linear forwards 1.8s;
    }

    .progress.neon.scrum .progress-left .progress-bar {
        animation: cssHtml 1.4s linear forwards 1.8s;
    }

    .progress.neon.css .progress-left .progress-bar {
        animation: cssHtml 1.4s linear forwards 1.8s;
    }

    .progress.neon.html .progress-left .progress-bar {
        animation: cssHtml 1.4s linear forwards 1.8s;
    }

    .progress.neon.javascript .progress-left .progress-bar {
        animation: javascript 1.4s linear forwards 1.8s;
    }

    .progress.neon.bootstrap .progress-left .progress-bar {
        animation: bootstrap 1.4s linear forwards 1.8s;
    } 

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes jira {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes istqbMssqlScrum {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@keyframes cssHtml {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes javascript {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes bootstrap {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
    .containerExpOther ul {
        padding-left: 12%;
    }
    #courses ul {
        padding-left: 12%;
    }
}


